@import './base/variables';
@import './base/mixin';

// component styles
@import './components/userCard';
@import './components/activities';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: $body-bg;
    height: 100vh;
}
.d-block {
    display: block;
}
.rs-modal {
    max-width: 80%;
}
.page-title {
    color: $page-title-clr;
    margin-top: 15px;
}