$lt-grey:                           #eeeeee;
$grey:                              #cccccc;
$royal-blue:                        #0098e1;

// general
$body-bg:                            $lt-grey;
$page-title-clr:                     $royal-blue;


// user card
$usercard-hover-border-clr:         $royal-blue;
$usercard-avatar-bg:                $royal-blue;
$usercard-details-title:            $royal-blue;

// activities
$activity-clr:                      $royal-blue;
$activity-title-clr:                $royal-blue;