.activity-group {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    .activity-item {
        display: flex;
        width: 50%;
        padding: 10px;
        &__icon {
            width: 50px;
            font-size: 34px;
            color: $activity-clr;
        }
        &__details {
            &__title {
                line-height: 1;
                color: $activity-clr;
            }
        }
    }
}
.activity-title {
    color: $activity-title-clr;
}