.userslist-wrapper {
    display: flex;
    flex-wrap: wrap;
    .usercard_panel {
        width: 24%;
        margin-right: 1%;
        margin-bottom: 15px;
        word-break: break-all;
        cursor: pointer;
        @include transition(0.3s);
        @media screen and (min-width: 992px) and (max-width: 1199px) {
            width: 49%;
        }
        @media screen and (min-width: 768px) and (max-width: 991px) {
            width: 49%;
        }
        @media screen and (max-width: 767px) {
            width: 100%;
            margin-right: 0;
        }
        &:hover {
            border-color: $usercard-hover-border-clr;
            box-shadow: 0 0 10px 0px #e5e5e5;
            @include transition(0.3s);
        }
        &__inner {
            display: flex;
            &__avatar {
                margin-right: 10px;
                .rs-avatar {
                    background-color: $usercard-avatar-bg;
                }
            }
            &__details {
                &__title {
                    color: $usercard-details-title;
                    font-weight: bold;
                }
            }
        }
    }
}